body {
	background: white;
	font-family: sans-serif;
	margin: 0;
}

.wrapper {
	display: flex;
	margin: 20px;
	gap: 20px;
}
.left-column {
	flex-direction: column;
}
.right-column {
	flex-direction: column;
}
#div1 {
	background-color: red;
	width: 150px;
	height: 100px;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

#div2 {
	background-color: blue;
	width: 150px;
	height: 100px;
	padding: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}

#div3 {
	background-color: yellow;
	width: 150px;
	height: 100px;
	padding: 25px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}
#div4 {
	background-color: blue;
	width: 150px;
	height: 100px;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}
#div5 {
	background-color: red;
	width: 150px;
	height: 100px;
	padding: 25px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}
#div6 {
	background-color: black;
	width: 150px;
	height: 100px;
	padding: 25px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}
