h1::before {
    content: " ";
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent; 
    border-right:45px solid blue; 
    height: 0px; 
    margin-bottom: -35px;
    margin-right: 20px;
    display: inline-block;
  }
  

