/* your code here */
.wrapper {
	padding: 0px 10px;
}

.secondWrapper {
	display: flex;
}

nav {
	width: 20%;
}

section {
	width: 80%;
	margin-left: 10px;
}

/**************************************
DON'T CHANGE ANYTHING AFTER THIS LINE
**************************************/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2980b9;
	color: #fff;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}

header,
nav,
section {
	border: 1px solid rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	border-radius: 3px;
}

header {
	padding: 10px 0;
}

nav,
section {
	padding: 100px 0;
}
