#div1 {
	background-color: red;
	width: 150px;
	float: left;
	height: 100px;
	padding: 100px;
	text-align: center;
	border-radius: 50px;
}
#div2 {
	background-color: blue;
	height: 100px;
	width: 150px;
	padding: 25px;
	color: white;
	text-align: center;
	overflow: hidden;
	border-radius: 25px;
}
#div3 {
	background-color: yellow;
	height: 100px;
	width: 150px;
	padding: 25px;
	color: white;
	text-align: center;
	overflow: hidden;
	border-radius: 25px;
}
