.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 150px;
	height: 150px;
	background: #ededef;
	font-size: 110px;
	text-align: center;
	color: #000;

	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.calendar::before,
.calendar:after {
	position: absolute;
	content: "";
	top: 5px;
	float: left;
	width: 15px;
	height: 15px;
	background: #111;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
}
.calendar::before {
	left: 16px;
}
.calendar::after {
	right: 16px;
}

.calendar em::before,
.calendar em::after {
	position: absolute;
	top: -18px;
	content: "";
	float: left;
	margin: 10px;
	width: 7px;
	height: 19px;
	background: #ededef;
	z-index: 2;
	border-radius: 3px 3px 3px 3px;
}
.calendar em::before {
	left: 10px;
}
.calendar em::after {
	right: 10px;
}
